header {
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10%;
    padding-right: 0;
    padding-bottom: 10%;
    padding-left: 6%;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 45%;
    height: 50px;
    color: green;
    font-size: 270%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 23.5%;
}

main {
    background-color: purple;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10%;
    padding-right: 0;
    padding-bottom: 10%;
    padding-left: 6%;
}

ul {
    font-size: 170%;
    font-family: monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 25%;
}

li {
    display: inline;
    float: left;
}